 # Node modules
node_modules/

# Android build
android/build/
android/.gradle/
android/app/build/

# iOS build
ios/build/
ios/Pods/

# Watchman
.watchmanconfig

# Expo
.expo/

# React Native cache
.react-native/

# Xcode files
*.xcuserstate
ios/*.xcodeproj/project.xcworkspace
ios/*.xcuserstate

# Log files
*.log

# System files
.DS_Store
.idea/
.vscode/
.env

# Temp files
*~
*.swp
.history/
